<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.argo.web</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/Frameworks/Python.framework/Versions/3.14/bin/python3</string>
    <string>-m</string>
    <string>src.web</string>
  </array>
  <key>WorkingDirectory</key><string>/Users/xiaolongxia/Argo</string>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>/tmp/argo-web.log</string>
  <key>StandardErrorPath</key><string>/tmp/argo-web.log</string>
</dict>
</plist>
